.itemContainer {
  min-height: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed {
  text-decoration: line-through;
}

.editInput {
  margin-right: 10px;
}

.editButton {
  margin-right: 5px;
  cursor: pointer;
}

.deleteButton {
  cursor: pointer;
}

.edit_input,
.taskText {
  flex: 1;
}

.save_button {
  background-color: rgba(0, 102, 0, 0.6);
  font-weight: bold;
}

.edit_button {
  background-color: rgba(0, 0, 139, 0.6);
  font-weight: bold;
}

.delete_button {
  background-color: rgba(139, 0, 0, 0.6);
  font-weight: bold;
}

.save_button,
.edit_button,
.delete_button {
  font-weight: 300 !important;
}
