.listContainer {
  padding: 10px;
  margin-top: 10px;
  height: 200px;
  overflow-y: auto;
}

.listContainer::-webkit-scrollbar {
  width: 5px;
}
.listContainer::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 20px;
}
.listContainer::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

.no_tasks {
  text-align: center;
  font-size: 20px;
  color: gray;
  margin-top: 20px;
}
